body {
	font-family: sans-serif;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("assets/spyHomePageBG.png");
	background-size: 100% 130%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #aaa;
}

h1 {
	margin: 0 auto;
	margin-top: 10vh;
	min-width:50vh;
	width: 40vw;
	font-size: 8vh;
	text-align: center;
	text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
	color: white;
}

#tellGivers {
	margin: 3vh auto 0 auto;
	width: 50vw;
	font-size: 2vh;
	color: white;
	text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
	text-align: center;
}

.verify {
	min-width: 60vh;
	width: 50vw;
	font-size: 8vh;
	margin: 0 auto;
	color: white;
	text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
	text-align: center;
}

#secretWord {
	font-size: 6vh;
}

a {
	min-width: 60vh;
	display: block;
	text-decoration: none;
	font-size: 5vh;
	text-align: center;
	width: 40vw;
	color: white;
	text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
	margin: 5vh auto 0 auto;
}

a:hover {
	color: #fffa7a;
	box-shadow: 0px 0px 6px 6px #fffa7a;
}